@{
    ViewData["Title"] = "Исполнитель:";
}
<h1>@ViewData["Title"]</h1>

<p>Веприцкий Артём Николаевич П50-2-19</p>
<p>Git: <a href="https://github.com/Vepr10816">Vepr10816</a></p>
<p>Почта: <a href="mailto:isip_a.n.veprickiy@mpt.ru?subject=Привет">isip_a.n.veprickiy@mpt.ru</a></p>
