@page
@model Vepr_site.Pages.TelegramLoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div style="align-items: center; display: flex; justify-content: center; min-height: 75vh;">
    @{ 
        System.Security.Claims.ClaimsPrincipal currentUser = this.User;
        if (currentUser.Identity.Name == null)
        {
            <div style="width: 128px;">
                <img src="t_logo_2x.png" alt="Telegram Logo" width="128" height="128"/>
                <img src="Telegram_1x.png" alt="Telegram Header" width="128" height="36" style="margin: 18px auto;">
            </div>
            <div style="border-left: 5px solid #179cde; margin: 50px; padding: 25px;">
                <partial name="TelegramLoginWidget" model="@Model.WidgetModel"/>
            </div>
        }
        else
        {
            Response.Redirect("Order/Index");
        }
     }
</div>